/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(0,0,100);
    overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgb(0,50,200);
    color: white;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: rgb(0,50,255);
    color: white;
}
.topnav a.active:hover {
    background-color: rgb(0,50,200);
    color: white;
}
.topnavheader {
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: rgb(0,0,75);
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
}
.topnavheader div.topnavheadertext {
    align-self: center;
}
.topnavheader div.topnavheaderimg {
    align-self: center;
}
.topnavheader div a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 32px;
}
.topnavheader div img {  
    float: right;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 32px;
}
.topnavheader img.RightAlign {
    float: right;
}
body {
    margin: auto;
    background-color: rgb(0,0,0);
}
.topnavfooter {
    background-color: rgb(0,0,75);
    overflow: hidden;
    margin-top: 0px;
    position: relative;
    bottom: 0%;
    width:100%
}
.topnavfooter a {
    position: relative;
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}
.topnavfooter a.active {
    color: rgb(0,50,255);
}
.topnavfooter a:hover {
    color: rgb(0,50,200);
}
.topnavfooter a.active:hover {
    color: rgb(0,50,200);
}
